.communityCon {
  max-width: 1440px;
  margin: 32px auto 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.searchForm {
  max-width: 1080px;
  display: flex;
}
.searchlabel {
  display: block;
  width: 50px;
  line-height: 30px;
  text-align: center;
  border: 1px solid black;
  border-right: 0px;
}
.serchBar {
  width: 300px;
  border: 1px solid black;
}
.searchBtn {
  width: 100px;
  background-color: #00a991 !important;
  border: 1px;
  color: white;
}
.searchResultCon {
  margin-top: 32px;
  width: 400px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}
.searchResultdiv {
  margin: 16px 0px;
  line-height: 35px;
  border: 1px black solid;
  border-right: 0px;
  border-left: 0px;
  background-color: #00a991;
  color: white;
}
.addpost {
  width: 400px;
  text-align: center;
  margin-top: 32px;
  background-color: #00a991;
  line-height: 40px;
  border-radius: 8px;
  color: white !important;
}
.contentLink {
  display: block;
  max-width: 1080px;
}
.contentCon {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  max-width: 1080px;
}
.contentImg {
  margin-right: 32px;
}
.communitycontent {
  width: 600px;
  text-align: center;
}
.addpostCon {
  max-width: 1080px;
  margin: 0 auto;
}
.addpostinputCon {
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.addpostLabel {
  display: block;
  margin-right: 32px;
}
.addTitle {
  max-width: 80%;
  width: 100%;
  line-height: 30px;
}
.contentText {
  width: 80%;
  height: 800px;
  resize: none;
}
.addSubmit {
  margin-top: 32px;
  width: 200px;
  height: 50px;
  border: 0px;
  background-color: #00a991;
  color: white;
  border-radius: 16px;
  display: block;
  margin: 0 auto;
}
.ContentDetail {
  max-width: 1080px;
  margin: 0 auto;
}
.ContentDetailTitle {
  width: 100%;
  text-align: center;
}
.contentBTN {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.contentBtnLink {
  margin-right: 16px;
}
.contentEdit {
  line-height: 30px;
}
.contentDetailImg {
  display: block;
  margin: 16px auto 0px;
}
.contentDetailP {
  margin-top: 16px;
  text-align: center;
}
.commentCon {
  max-width: 1080px;
  margin: 32px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addcommnet {
  display: flex;
  margin-top: 16px;
}
.commentText {
  width: 400px;
  height: 50px;
  resize: none;
  margin-right: 32px;
}
.commentBtn {
  width: 80px;
}
.addcommentCon {
  max-width: 1080px;
  margin: 16px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 8px;
}
.commentDetail {
  display: flex;
  align-items: center;
  width: 80%;
}
.commentEmail {
  margin-right: 32px;
}
.commentcontent {
  width: 100%;
}
.editcomment {
  margin-right: 16px;
}
.editCommentTextA {
  width: 80%;
  text-align: center;
}
.editSubmit {
  display: flex;
  justify-content: space-evenly;
}
.editSubmitbtn {
  margin-top: 32px;
  width: 200px;
  height: 50px;
  border: 0px;
  background-color: #00a991;
  color: white;
  border-radius: 16px;
  display: block;
}
