.homeCon{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
.homecontainer{
  width: 50%;
}
.homeTitle{
  width: 50%;
  margin: 32px auto 0px;
  text-align: center;
}
.homeaniamlContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeaniamlDetailCon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.br_r{
  border-right: 1px solid black;
}
.more{
  display: block;
  text-align: center;
  width: 30%;
  line-height: 30px;
  background-color: #00a991;
  color: white !important;
  border-radius: 8px;
  margin: 32px auto 0;
}